<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/all.css">
  <title>Comments</title>
</head>

<body>
    <h2>Comments by <%= email %>, (total: <%= comments.length %>)</h2>
    <table>
      <tr>
        <td>
          Course Code
        </td>
        <td>
          Course Name
        </td>
        <td>
          Comment
        </td>
      </tr>
      <% comments.forEach(function(comment){ %>
        <tr>
        <td>
            <%= comment.courseCode %>
        </td>
        <td>
            <%= comment.courseName %>
        </td>
        <td>
            <%= comment.comment %>
        </td>
        </tr>
      <% }); %>
    </table>
    <br/>
    <a href="/">Back to Index</a>
</body>
</html>